<!DOCTYPE html>
<html>
<head>
	<title>Team14 Audio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="icon" href="/static/gemini.png">
	<script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
        @import url(https://fonts.googleapis.com/css?family=Open+Sans);


    body {
    	background: #FFFFFF;
    	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    }

    #productImg {
    border-radius: 5px;
    /*cursor: pointer;*/
    transition: 0.3s;
    }

    #productImg:hover {
        opacity: 0.8;
    }

	.product_row_css {
	    display: -ms-flexbox; /* IE 10 */
	    display: flex;
	    -ms-flex-wrap: wrap; /* IE 10 */
	    flex-wrap: wrap;
	    padding: 0 4px;
	}

	/* Create four equal columns that sits next to each other */
	.product_column_css {
	    -ms-flex: 25%; /* IE 10 */
	    flex: 25%;
	    padding: 0 0px;
	}

	.product_column_css img {
	    margin-top: 5px;
	    vertical-align: middle;
	}


	.product_container {
	  position: relative;
	  /*width: 275px;*/
	  max-width: 275px;
	  margin: 4px;
	}

	.imgPost {
	  display: block;
	  /*width: 100%;*/
	  height: auto;
	}

	.product_overlay {
	  position: absolute; 
	  bottom: 0; 
	  background: rgb(0, 0, 0);
	  background: rgba(0, 0, 0, 0.5); /* Black see-through */
	  color: #f1f1f1; 
	  width: 100%;
	  height: 50pt;
	  transition: .5s ease;
	  opacity:0;
	  color: white;
	  font-size: 20px;
	  padding: 0px;
	  text-align: center;
      cursor: pointer;
	}

	.product_container:hover .product_overlay {
	  opacity: 1;
	}

	
	</style>
</head>
<body>
<div class="banner">
	<a href="/"><img src="/static/logo.png" style="margin-left: 100pt; margin-top: 14pt"></a>
	<a href="/" style="color: black; font-size: 17pt; padding-top: 24pt;margin-right: 135pt" class="pull-right">Home</a>
</div>
    {{{body}}}




<!-- Footer -->
{{!-- <footer class="qweqwewq" > --}}


    <!-- Copyright -->
    {{!-- <div class="footer-copyright text-center py-3">© 2018 Copyright: --}}
      {{!-- <a href="https://mdbootstrap.com/bootstrap-tutorial/"> facebook.com/aiverkeith facebook.com/vistasweeney</a> --}}
    {{!-- </div> --}}
    <!-- Copyright -->

{{!-- </footer> --}}
<!-- Footer -->



</body>
<script type="text/javascript">
	$(function() {
    var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
		};
	}	

	var accordion = new Accordion($('#accordion'), false);
});

</script>
</html>