<div class="container text-center">

	<form action="/brand/create" method="POST" >
		<div class="form-group">
			<label>Brand Name</label>
			<input type="text" name="brand_name" placeholder="brand name">
			<label>Brand Description</label>
			{{!-- <input type="textbox" name="brand_description" placeholder="brand description"> --}}
			<textarea name="brand_description"></textarea>
			<input type="submit" name="" value="Add">
		</div>
	</form>



</div>