<div class="container text-center">
	<form action="/category/create" method="POST">
		<div class="form-group">
			<label>Category Name</label>
			<input type="text" name="category_name">
			<input type="submit" name="" value="Add">
		</div>
	</form>
</div>