<div class="container text-center">

	<form action="/product/create" method="POST">
		<div>
			<label>Product Name</label>
			<input type="text" name="name"><br>

			<label>Product Price</label>
			<input type="number" name="price" min="0" step="disabled"><br>

			<label>Product Description</label>
			<textarea name="description"></textarea><br>

		</div>
	</form>

</div>